@import url("https://use.typekit.net/zsp2dhp.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$text-grey: #B5BDC2;
$text-white: #FFF;
$body-background: #000;
$background-light: #1D2127;
$background-dark: #191C21;

.center{
    text-align: center;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.hidden{
    display: none;
}
.white-text{
    color: $text-white !important;
}